# Python artifacts
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
venv/
.env
.venv/
venv-train-model/

# Streamlit cache
.streamlit/

# IDE settings
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db

# Logs/Temp
*.log
*.tmp
